@import url(../base/base.css);

@media screen and (max-width: 768px) {

    header {
        display: grid;
        /* One column for the messages and another for the opcions */
        /* Adapted for tablets and mobile */
        grid-template-columns: 0.6fr 1.1fr;
        background-color: rgba(15, 15, 105, 0.473);
        width: 100%;
        height: 10vh;
    }

    nav ul li {
        /* Code in base file and... */
        /* Adapted for mobile */
        padding: 0vh 5vh;
    }

    nav ul li ul {
        /* Code in base file and... */
        /* Adapted for mobile */
        margin-left: -12vh;
    }

    nav ul li:hover>ul {
        /* Code in base file and... */
        /* Adapted for mobile */
        margin-top: 9.9vh;
        /* Leave it right on the right edge where the username begins */
        background-color: rgba(15, 15, 105, 0.596);
        /* It adjusts to any username size */
        min-width: 5vh;
        max-width: 30vh;
    }

    nav ul li form input[type="submit"] {
        /* Code in base file and... */
        /* Adapted for mobile */
        padding: 2vh 4vh;
        border: none;
        cursor: pointer;
    }

    .profiles ul {
        /* Code in base file and... */
        /* Adapted for tablets and mobile */
        width: 80%;
    }

    .profiles ul li {
        /* distance between users */
        /* Adapted for mobile */
        margin-inline: 2vh;
    }

    .step-links a {
        /* Adapted for mobile */
        margin-inline: 2vh;
    }

    .image-arrows img {
        /* Adapted for tablets and mobile */
        width: 4vh;
        height: auto;
    }

    footer {
        /* Code in base file and... */
        /* For mobile screens, the footer should be smaller */
        height: 8vh;
    }



}