@import url(../base.css);


@media screen and (min-width: 1025px) {

    header {
        display: grid;
        /* One column for the messages and another for the opcions */
        grid-template-columns: 0.7fr 1.0fr;
        background-color: rgba(15, 15, 105, 0.473);
        width: 100%;
        height: 10vh;
    }

    nav ul li {
        /* Code in base file and... */
        padding: 0.5vh 5vh;
    }

    nav ul li ul {
        /* Code in base file and... */
        margin-left: -12.1vh;

    }

    nav ul li:hover>ul {
        /* Code in base file and... */
        margin-top: 9.5vh;
        /* Leave it right on the right edge where the username begins */
        background-color: rgba(15, 15, 105, 0.596);
        /* It adjusts to any username size */
        min-width: 5vh;
        max-width: 30vh;
    }

    nav ul li form input[type="submit"] {
        /* Code in base file and... */
        padding: 2vh 4vh;
        border: none;
        cursor: pointer;
    }

    .profiles ul {
         /* Code in base file and... */
        width: 100%;
    }

    .profiles ul li {
        /* distance between users */
        margin-inline: 5vh;
    }

    .step-links a {
        margin-inline: 5vh;
    }

    .image-arrows img {
        width: 5vh;
        height: auto;
    }

}