
@import url(../base/base.css);

@media screen and (max-width: 768px) {

    .message-alert {
        display: grid;
        justify-content: space-between;
        width: 100%;
        /* Adapted for mobiles */
        height: 2vh;
    }

    .sectionLogin {
        display: grid;
        /* Adapted for mobiles */
        /* One column */
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: 82vh;
    }

    /* Article */

    .message {
        /* Code in base file and... */
        /* Adapted for mobiles */
        /* Center */
        padding-right: 10vh;
    }

    .welcome-message {
        font-family: "Open Sans", sans-serif;
        color: white;
        /* Adapted for mobiles */
        padding-left: 10vh;
        /* Adapted for mobiles */
        font-size: 2.5vh;

    }

    /* Aside */

    .box-login-register {
        /* Code in base file and... */
        /* Adapted for tablets and mobile */
        border: 1.0vh solid #f1f7fe;
        border-radius: 4vh;
    }

    /* Form Django */

    .username-password-form {
        /* Adapted for mobiles */
        border: 0.2vh solid #000;
        /* Adapted for mobiles */
        padding: 0.4vh 0.5vh;
        border-radius: 3vh;
        margin-bottom: 2vh;
    }

    .username-password-html {
        /* Adapted for mobiles */
        font-size: 2vh;
        font-family: "Open Sans", sans-serif;
        color: black;
    }
    /* Footer */

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .login-register-button {
        /* Code in base file and... */
        /* Adapted for mobiles */
        padding: 0.7vh 6vh;
        border: none;
        border-radius: 4vh;
        cursor: pointer;
        transition: background-color 1s;
    }

    .custom-span {
        /* Adapted for mobile */
        font-size: 2vh;
        /* Adapted for tablet and mobile */
        margin-bottom: 1vh;
    }

    /* Google */

    .google-image {
        /* Adapted for mobiles */
        width: 3vh;
        /* Adapted for mobiles */
        height: 3vh;
    }

    footer {
    /* Code in base file and... */
    /* For mobile screens, the footer should be smaller */
    height: 8vh;
    }
}