@import url(../base.css);


@media screen and (min-width: 1025px) {

    body {
        background-image: url('../../images/wallpaper.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
        height: 100vh;
        display: grid;
        justify-content: normal;
    }

    /* Header Nav and Messages */

    header {
        background-color: rgba(15, 15, 105, 0.473);
        display: grid;
        /* One column for the messages and another for the opcions */
        grid-template-columns: 0.7fr 1.0fr;
        width: 100%;
        height: 10vh;
    }

    nav {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: absolute;
        margin-right: 0%;
        /* Remove default margins and padding */
        margin: 0vh;
        padding: 0vh;
    }

    nav ul li {
        padding: 0.5vh 2vh;
    }

    nav ul li:hover {
        background-color: rgba(15, 15, 105, 0.596);
    }

    nav ul li a {
        text-decoration: none;
    }

    nav ul li ul {
        /* So that the block doesn't execute automatically */
        display: none;
    }

    nav ul li:hover>ul {
        position: absolute;
        display: block;
        margin-top: 0.7vh;
        /* Leave it right on the right edge where the username begins */
        left: 4vh;
        background-color: rgba(15, 15, 105, 0.596);
        /* Depending on the character size of the submenu, 'left' and 'min-width' should be adjusted. */
        min-width: 20vh;
    }

    .messages {
        display: flex;
        justify-content: initial;
        width: 100%;
        height: 10vh;
    }

    p {
        font-family: "Open Sans", sans-serif;
        color: black;
    }

    p {
        font-family: "Open Sans", sans-serif;
    }

    .white-letter {
        color: white;

    }

    .black-letter {
        color: black;
    }

    .sectionLogin {
        display: grid;
        /* One column for the Aside and another for the Article */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        height: 81vh;
    }

    /* Article */

    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .message {
        display: grid;
        justify-content: space-between;
    }

    .welcome-message {
        font-family: "Open Sans", sans-serif;
        color: white;
        padding-left: 20vh;
        font-size: 5vh;

    }

    /* Aside */

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-login {
        display: flex;
        flex-direction: column;
        background: #f1f7fe;
        align-items: center;
        justify-content: center;
        border: 2.0vh solid #f1f7fe;
        border-radius: 4vh;
    }

    /* Form Django */

    .username-password-form {
        border: 0.4vh solid #000;
        padding: 1vh 2vh;
        border-radius: 3vh;
        margin-bottom: 2vh;
    }

    /* Form Django */

    .username-password-html {
        font-size: 3vh;
        font-family: "Open Sans", sans-serif;
        color: black;
    }

    .login-button {
        display: flex;
        flex-direction: column;
        background-color: #007bff;
        font-family: "Open Sans", sans-serif;
        color: #fff;
        padding: 2vh 10vh;
        border: none;
        border-radius: 4vh;
        cursor: pointer;
        transition: background-color 1s;
    }

    .login-button:hover {
        background-color: #0056b3;
    }

    .custom-span {
        font-family: "Open Sans", sans-serif;
        font-size: 3vh;
        margin-bottom: 5vh;
    }

    /* Google */

    .google-container {
        border: 1px solid #ccc;
    }

    .google-image {
        width: 5vh;
        height: 5vh;
    }

    /* Footer */

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

    }



}