@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Login */

body {
    background-image: url('../../images/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    justify-content: normal;
}

main {
    display: flex;
    width: 100%;
    height: 82vh;
}


.white-letter {
    color: white;
}

.black-letter {
    color: black;
}

/* Notebook and tablet */
.message {
    display: grid;
    justify-content: space-between;
}


.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Tablet and Mobile */
.box-login-register {
    display: flex;
    flex-direction: column;
    background: #f1f7fe;
    align-items: center;
    justify-content: center;
}

.login-register-button {
    display: flex;
    flex-direction: column;
    background-color: #007bff;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.login-register-button:hover {
    background-color: #0056b3;
}

.custom-span {
    font-family: "Open Sans", sans-serif;
}

.google-container {
    border: 1px solid #ccc;
}

/* Home */

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* Remove default margins and padding */
    margin: 0vh;
    padding: 0vh;
}

nav ul li {
    display: flex;
    flex-direction: row;
}

nav ul li:hover {
    background-color: rgba(15, 15, 105, 0.596);
}

nav ul li a {
    text-decoration: none;
}

nav ul li ul {
    /* So that the block doesn't execute automatically */
    display: none;
}

nav ul li form {
    /* Center the content of the form. In this case, only the logout button */
    text-align: center;
}

nav ul li form input[type="submit"] {
    /* Inherits the background color from the container */
    background-color: inherit;
    color: white;
}

nav ul li:hover>ul {
    position: absolute;
    display: block;
}

nav ul li form input[type="submit"]:hover {
    /* Reduced opacity */
    opacity: 0.8;
}


main {
    display: flex;
    width: 100%;
    height: 82vh;
}

.sectionHome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 82vh;
}

.user-profile {
    display: flex;
    justify-content: center;
}

.profiles {
    display: flex;
    justify-content: center;
}

.profiles ul {
    display: flex;
    /* center the users */
    justify-content: center;
}

.profiles ul li {
    display: flex;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
}

.step-links {
    display: flex;
}

.current {
    display: flex;
    justify-content: center;
}

.image-arrows {
    display: grid;
}

/* Others */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

}