{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css file base -->
    <link rel="stylesheet" href="{% static '/css/base/base.css' %}" type="text/css">
     <!-- css files login -->
    <link rel="stylesheet" href="{% static '/css/login/notebook.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/login/tablet.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/login/mobile.css' %}" type="text/css">
    <!-- css files home -->
    <link rel="stylesheet" href="{% static '/css/home/notebook.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/home/tablet.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/home/mobile.css' %}" type="text/css">

     <!-- css files register -->
     <link rel="stylesheet" href="{% static '/css/register/notebook.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static '/css/register/tablet.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static '/css/register/mobile.css' %}" type="text/css">

    <title>Notes</title>
</head>

<body>
    <header>
        <!-- header -->
        <div class="message-alert">
            {% for message in messages %}
            <p class="white-letter">{{ message }}</p>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">
                        <p class="white-letter">Home</p>
                    </a></li>
                </li>
                <li>
                    <p class="white-letter">{{ user.username }}</p>
                    <ul>
                        <li>

                            <form method="post" action="{% url 'logout' %}" class="logout-link"> {% csrf_token %} <input type="submit"
                                    value="Logout"></form>

                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% endif %}
    </header>

    <main>

        {% block content %}{% endblock %}

    </main>

    <footer>
        <!-- footer -->
        <p class="text-body"> Notes - 2024 </p>
    </footer>
    <!-- javascript -->
    <!-- <script type="text/javascript" src="{% static '/js/name.js' %}"></script> -->