{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->
<section class="sectionHome">
    <h1 class="user-profile">
        <p class="white-letter">User Profiles</p>
    </h1>

    <div class="profiles">
        <ul>
            {% for user_profile in page_obj %}
            <li>
                <p class="white-letter">{{ user_profile.user.email }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="image-arrows"><img src="{% static 'images/num-1.png' %}" alt="First" /></a>
            <a href="?page={{ page_obj.previous_page_number }}" class="image-arrows"><img
                    src="{% static 'images/arrow_previous.png' %}" alt="Previous" /></a>
            {% endif %}

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="image-arrows"><img
                    src="{% static 'images/arrow_next.png' %}" alt="Next" /></a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="image-arrows"><img
                    src="{% static 'images/arrow_last.png' %}" alt="Last" /></a>
            {% endif %}
        </span>
    </div>
    <span class="current">
        <p class="white-letter"> Page {{ page_obj.number }}</p>
    </span>

    <!-- javascript -->
    {% endblock %}
</section>
</body>

</html>