{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}




<section class="sectionLogin">

    <article class="welcome">
        <div class="message">
            <p class="white-letter"> Welcome to our notes website! Sign up for free and create your own custom notes.
                Plus, you can view notes from your friends.</p>

        </div>

    </article>

    <aside class="login">
        <div class="box-login-register">
            
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username" class="username-password-html">Username:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="id_password" class="username-password-html">Password:</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="login-register-button">Login</button>
            </form>
            <p class="black-letter">Don't have an account?</p>
            <span class="custom-span"><a href="{% url 'register' %}">Register</a></span>

            <p> ----- ó -----</p>

            <p> Continue with Google</p>

            <div class="google-container">
                <a href="{% provider_login_url 'google' %}?next=/">
                    <img src="{% static 'images/google.png' %}" alt="Google Login" class="google-image">
                </a>
            </div>
        </div>
    </aside>


</section>

{% endblock %}