{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main -->

<section class="sectionRegister">

    <aside class="register">
        <div class="box-login-register">

            <p class="black-letter"> If you don't have an account, please create one</p>

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username" class="username-password-html">Username:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="id_email" class="username-password-html">Email:</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="id_password1" class="username-password-html">Password:</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    <label for="id_password2" class="username-password-html">Password confirmation:</label>
                    {{ form.password2 }}
                </div>
                <button type="submit" class="login-register-button">Register</button>
            </form>

            <div class="container signin">
                <p class="black-letter">Already have an account? <a href="{% url 'login' %}">Sign in</a>.</p>
            </div>
        </div>

    </aside>
</section>

<!-- javascript -->
{% endblock %}

</body>

</html>